.man{
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
      
}

.manmo{
   
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

}
